{% extends "discuss/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <!-- Subjects -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Subjects</h3>
                </div>
                <ul class="list-group">
                    {% for subject in subjects %}
                        <a class="list-group-item" href="{% url "discuss.views.subjects.view" subject.id %}">{{ subject.name }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Recent Posts -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Posts</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Active Discussions</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
