{% extends "discuss/base.html" %}
{% block title %}{{ subject.name }}{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url "discuss.views.subjects.index" %}">Subjects</a></li>
        <li class="active">{{ subject.name }}</li>
    </ol>
    {% if discussions %}
        {% for discussion in discussions %}
            <div class="discussion">
                <h3><a href="{% url "discuss.views.discussions.view" discussion.id %}">{{ discussion.title }}</a></h3>
                <div class="creator">Started by <a href="javascript:void(0);">{{ discussion.creator.username }}</a></div>
                <div class="created-timestamp">
                    {% if discussion.posts %}
                        Last post at {{ discussion.posts.0.createdTimestamp }}
                    {% else %}
                        No responses yet.
                    {% endif %}
                </div>
                <div class="view-count">
                    {{ discussion.viewCount }} views
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>No discussions found.</h3>
    {% endif %}
{% endblock %}
